<div class="row">
  <div class="col-md-8 mx-auto">
    <h2 class="p-2 mt-2 text-center"><%= title %></h2>
    <%= form_with(url: user_profile_path(@user), scope: :profile, method: :post, local: true) do |form| %>
      <% if profile.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
          <ul>
            <% profile.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="mb-2">
        <%= form.label :bio, class: "form-label" %>
        <%= form.rich_textarea :bio, class: "form-control" %>
      </div>
      <div class="mb-2">
        <%= form.label :image, class: "form-label" %>
        <%= form.file_field :image, class: "form-control" %>
      </div>
      <div class="mb-2">
        <%= form.label :github, class: "form-label" %>
        <%= form.text_field :github, class: "form-control" %>
      </div>
      <div class="mb-2">
        <%= form.label :twitter, class: "form-label" %>
        <%= form.text_field :twitter, class: "form-control" %>
      </div>
      <div class="mb-2">
        <%= form.label :linkedin, class: "form-label" %>
        <%= form.text_field :linkedin , class: "form-control" %>
      </div>

      <%= form.submit class: "btn btn-warning btn-sm" %>
    <% end %>
  </div>
</div>