<!-- views/admin/users/edit.html.erb -->
<div class="flex-grow-1">
  <h3 class="my-4">Kullanıcı Güncelleme</h3>
  <div class="card">
    <%= form_for [:admin, @user] do |f| %>
      <div class="card-body">
        <div class="mb-3">
          <%= f.label :email, "E-posta", class: "form-label required", for: "user_email" %>
          <%= f.email_field :email, required: true, class: "form-control", id: "user_email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="mb-3">
          <%= f.label :role, "Rol", class: "form-label", for: "user_role" %>
          <%= f.select :role, User.roles.keys.map { |r| [r.titleize, r] }, {}, { class: "form-select", id: "user_role" } %>
        </div>
      </div>

      <div class="card-footer d-flex justify-content-between">
        <%= f.submit "Güncelle", class: "btn btn-success" %>
        <%= link_to t("actions.back"), admin_users_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
